[
  {emqx_plugin_kafka, [
    {kafka_hosts, [{"127.0.0.1", 9092}]},
    {client_id, emqx_plugin_kafka_client},
    {producer, [
      {enabled, true},
      {publish_base64, false},
      {rules, [
        {<<"sensor/+/up">>, <<"kafka_sensor_up">>},
        {<<"alarm/#">>, <<"kafka_alarm">>}
      ]}
    ]},
    {consumer, [
      {enabled, false},
      {group_id, <<"emqx_plugin_kafka">>},
      {topics, [<<"mqtt_downlink">>]},
      {begin_offset, earliest}
    ]},
    {brod_client_config, [
      {reconnect_cool_down_seconds, 10},
      {query_api_versions, true}
    ]},
    {producer_config, []},
    {consumer_config, []}
  ]}
].
