{erl_opts, [
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_obsolete_guard,
    debug_info
]}.

{deps, [
    {brod, {git, "https://github.com/kafka4beam/brod.git", {tag, "3.16.3"}}}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{shell, [
    {apps, [emqx, emqx_plugin_kafka]}
]}.
